root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true

[*.js]
indent_style = space
indent_size = 4
trim_trailing_whitespace = true

[*.html]
indent_style = tab
trim_trailing_whitespace = true

[*.java]
indent_style = tab
tab_width = 4
trim_trailing_whitespace = true

[*.xml]
tab_width = 4
trim_trailing_whitespace = true

[*.{cmd,bat,ps1}]
end_of_line = crlf

# Ignored files
[*.bak]
charset = unset
end_of_line = unset
insert_final_newline = unset
trim_trailing_whitespace = unset
indent_style = unset
indent_size = unset
